*{
margin:0;
padding:0;
}
body{
  background-image: url();
}
.container{
width:550px;
height:300px;
margin:20px auto 0;
}
.pic{
  list-style-type: none;
}
.content{
/*所有的图片都初始化为不显示，并设置绝对定位*/
display:none;
position:absolute;
}
.content img{
/*设置图片默认宽度高度*/
width:500px;
height:300px;
}
.btn{
position:relative;
float:right;
right: 10px;
top:300px;
z-index: 9999;
/*设置按钮在最顶层*/
}
.btn ul li{
width:10px;
height:10px;
border-radius:50%;
list-style-type:none;
display:inline-block;
background: rgba(152, 152, 152, 0.6);
cursor: default;
}
.btn ul li.but{
background:  rgb(250, 210, 89);
}
.left{
position: relative;
float: left;
margin-left: -50px;
top: 150px;
z-index: 9999;
cursor: pointer;
}
.left:hover{
  background-color: rgba(152, 152, 152, 0.6);
}
.right:hover{
  background-color: rgba(152, 152, 152, 0.6);
}
.right{
position: relative;
float: right;
top: 150px;
z-index: 9999;
cursor: pointer;
}
.bottom-word{
  position: relative;
  float: left;
  top: 70px;
  left: 50px;
}
.bottom-img{
  position:relative;
  float: right;
  top: 100px;
  right: 50px;
}
