$input-width:100%;
$word-size:1em;


.title,.price,.location,.des{
  position: relative;
}
@media screen and (min-device-width: 600px){
  .container{
    width:400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-device-width: 600px){
  .container{
    width: 100%;
    // margin-left: 5%;
  }
}
input{
  font:$word-size roboto;
  padding-top: 20px;
  width: $input-width;
  height: 30px;
  display: block;
  border: none;
  color: #08192D;
}
input:focus{
  outline: none;
}
.line{
  position: relative;
  display: block;
  height: 2px;
  width: $input-width;
  background-color: #BDC0BA;
}
label{
  position: absolute;
  top:55%;
  left: 1.5%;
  font-size: $word-size;
  transition: 0.5s ease;
  color: #91989F;
}
input:focus ~ label{
  top:-0.5%;
  font-size: 0.8em;
  color: #58B2DC;
}
input:valid ~ label{
  top:-0.5%;
  font-size: 0.8em;
}
.title{
  float: left;
  width: 100%;
}
.price{
  float: left;
  width: 40%;
}
.location{
  float: right;
  width: 59.5%;
  border-left: 2px #BDC0BA solid;
}
.des{
  float: left;
  width: 100%;
}
