$input-width:100%;
$word-size:1em;
$end-size:0.8em;
.title,.price,.location,.des{
  position: relative;
}
// 屏幕宽度大于600px的时候 居中 且宽度固定
@media screen and (min-device-width: 600px){
  .container{
    width:400px;
    margin-left: auto;
    margin-right: auto;
  }
}
// 屏幕宽度小于600px的时候自适应
@media screen and (max-device-width: 600px){
  .container{
    width: 100%;
  }
}
input{
  font:$word-size roboto;
  padding-top: 20px;
  width: $input-width;
  height: 30px;
  display: block;
  border: none;
  color: #08192D;
}
input:focus,textarea:focus{
  outline: none;
}
.line{
  position: relative;
  display: block;
  height: 2px;
  width: $input-width;
  background-color: #BDC0BA;
}
label{
  position: absolute;
  top:55%;
  left: 1.5%;
  font-size: $word-size;
  transition: 0.5s ease;
  color: #91989F;
}
.des label{
  top: 30%;
}
textarea{
  width: 100%;
  border: none;
  padding-top: 20px;
  font-size: $word-size;
  resize: none;
}
// 提示文字的动画
input:focus ~ label,textarea:focus ~ label{
  top: 1%;
  font-size: $end-size;
  color: #58B2DC;
}
input:valid ~ label,textarea:valid ~ label{
  top: 1%;
  font-size: $end-size;
}
.title,.price,.location,.des,.submit{
  float: left;
}
.title{
  width: 100%;
}
.price{
  width: 40%;
}
.location{
  width: calc(60% - 2px);
  border-left: 2px #BDC0BA solid;
}
.des{
  width: $input-width;
  height: 140px;
}
.submit{
  margin-top: 35px;
  width: 100%;
}
#submit{
  padding-top: 5px;
}
